.firstheaders {
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 400;
    text-align: 'center';
}
.navigations {
    font-family: lota;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}
.firsttext{
    font-family: lota;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}

.navheader
{
 font-family: Playfair Display;
 color: #F6F5EC;
 font-size: 20px;
 text-align: center;
 font-weight: 400;
}
.articleHeader{
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;
    @media screen and (max-width: 699px) {
        font-size: 36px;        
        }
}
.latestArticleheader{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;
}
.blogHeader{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;

}
.blogsecond{
    font-family: lota;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}
.italicHeader{
    font-family: Playfair Display;
font-size: 200px;
font-style: italic;
font-weight: 400;
line-height: 250px;
letter-spacing: 0.02em;
text-align: center;

}
.italictext{
    font-family: Playfair Display;
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: center;

}

.buttonHeader{
    font-family: lota;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;
}
.hoverarticle{
    

}

.hoverarticle:hover{
    background: #ECDFD7;
    border-radius: 40px;

}

.articlehead{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: center;

}

.articletext{
    font-family: lota;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.customButton{
    font-family: lota;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;

}
.diseasescol{
    font-family: Playfair Display;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: right;

}
.diseasecol1{
    font-family: lota;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.treatmentslider{ 
    font-family: lota;
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0.01em;
text-align: left;
}
.accordionheader{
    font-family: Playfair Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;   
}
.accordionsubheader{
    font-family: Playfair Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #CDA274;
}
.cursorhover{
    background: #ECDFD7;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 15px;
    margin-top: -5px;
}
.cursorfree{
    background: #F6F5EC;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 15px;
    margin-top: -5px;
}
/* .react-multi-carousel-item--active img{
   height: 600px;
}
.react-multi-carousel-item img{
 
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.9px);
} */
.commonactivebutton{
   background-color: #292F36;
}
.commonbutton{
    background-color: #ECDFD7;
}
.displayText{
    visibility: hidden;
}
.displayTextnone{
    visibility: visible;
    
}
.dismage{
    background: rgba(255, 255, 255, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    /* From https://css.glass */

    .react-multiple-carousel__arrow{
        width: 90%;
        margin: auto;
        margin-left: 0px;
        }
        
        .item{
        width: 1000px;
        margin: 0 auto;
        }

}
.activeitem{
   font-size: 50px;
}