
.firstheaders {
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 400;
    text-align: 'center';
    @media screen and (max-width: 699px) {
        font-size: 25px;        
        }
}
.navigations {
    font-family: lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}
.firsttext{
    font-family: lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
    @media screen and (max-width: 699px) {
        font-size: 15px;        
        }
}

.navheader
{
 font-family: lato;
 color: #F6F5EC;
 font-size: 20px;
 text-align: center;
 font-weight: 400;
}
.articleHeader{
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;
    @media screen and (max-width: 699px) {
        font-size: 36px;        
        }
}
.naturopathy{
    margin-top: -200px;
font-size: 120px;
 font-family: Playfair Display;
 @media screen and (max-width: 699px) {
    font-size: 36px;        
    }
}
.latestArticleheader{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;
}
.blogHeader{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;

}
.blogsecond{
    font-family: lato;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}
.italicHeader{
    font-family: Playfair Display;
font-size: 200px;
font-style: italic;
font-weight: 400;
line-height: 250px;
letter-spacing: 0.02em;
text-align: center;

}
.italictext{
    font-family: Playfair Display;
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: center;
@media screen and (max-width: 699px) {
    margin-top: -40px;
    font-family: Playfair Display;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;      
     }


}

.buttonHeader{
    font-family: lato;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;
}
.hoverarticle{
    

}

.hoverarticle:hover{
    background: #ECDFD7;
    border-radius: 40px;

}

.articlehead{
    font-family: Playfair Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: center;

}

.articletext{
    font-family: lato;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.customButton{
    font-family: lato;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;

}
.diseasescol{
    font-family: Playfair Display;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: right;

}
.diseasecol1{
    font-family: lato;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.treatmentslider{ 
    font-family: lato;
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0.01em;
text-align: left;
}
.accordionheader{
    font-family: Playfair Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;   
}
.accordionsubheader{
    font-family: Playfair Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #CDA274;
}
.cursorhover{
    background: #ECDFD7;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 15px;
    margin-top: -5px;
}
.cursorfree{
    background: #F6F5EC;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 15px;
    margin-top: -5px;
}
/* .react-multi-carousel-item--active img{
   height: 600px;
}
.react-multi-carousel-item img{
 
background: rgba(255, 255, 255, 0.4);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.9px);
} */
.commonactivebutton{
   background-color: #292F36;
}
.commonbutton{
    background-color: #ECDFD7;
}
.displayText{
    visibility: hidden;
}
.displayTextnone{
    visibility: visible;
    
}
.dismage{
    background: rgba(255, 255, 255, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    /* From https://css.glass */

    .react-multiple-carousel__arrow{
        width: 90%;
        margin: auto;
        margin-left: 0px;
        }
        
        .item{
        width: 1000px;
        margin: 0 auto;
        }

}
.activeitem{
   font-size: 50px;
}
.diseaseimages{
    height: 550px;
    @media screen and (max-width: 699px) {
       height: 350px;        
        }
}
.diseaseitems{
    width: 30%;
    @media screen and (max-width: 699px) {
        width: 100%;        
         }
}
.loginHeader{
    font-family: Poppins;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.02em;
    margin: 150px 0px;
}
.logintext{
    font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.02em;
text-align: center;
color: #C0C7CE;
}
.loginform{
  margin: 50px 0px;
}

.registerHeader{
font-family: Poppins;
font-size: 120px;
font-weight: 400;
line-height: 150px;
letter-spacing: 0em;
text-align: left;
margin-left:  15%;
color: #000000AD;
@media screen and (max-width: 699px) {
     font-size: 50px;
     }
}
.registerText{
    font-family: lato;
    font-size: 60px;
    font-weight: 400;
    line-height: 90px;
    margin-left: 15%;
    letter-spacing: 0.01em;  
    @media screen and (max-width: 699px) {
        font-size: 30px;
        }
   } 
.registerOr{
    font-family: lato;
font-size: 60px;
font-weight: 400;
line-height: 90px;
letter-spacing: 0.01em;
text-align: center;
color: #000000B2;
@media screen and (max-width: 699px) {
    font-size: 40px;
    }
}
.socials{
    max-width: 200px;
    margin: 20px;
    @media screen and (max-width: 699px) {
        max-width: 100px;     
        margin: 10px;   
         }
}
.bannerbackground{
    height: 1000px;
    @media screen and (max-width: 699px) {
        height: 600px;    
         }
}
.bannergap{
    height: 700px;
    @media screen and (max-width: 699px) {
        height: 400px; 
         }
}
.aboutContainer{
    padding: 150px; 
    @media screen and (max-width: 699px) {
        padding: 10px;    
         }
}
.aboutquotes{
    width: 40%;
    padding: 40px;
    padding-top: 100px;
    margin: auto;
    height: 300px;
    background-image: url("../assets/frame.png");
    background-size: 100% 100%;
     @media screen and (max-width: 699px) {
        width: 80%;
        padding: 10px;
        padding-top: 30px;
        height: 100px;
        background-image: url("../assets/frame.png");
        background-size: 100% 100%;
         } 
}
.forumHeader{
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0px;

}
.homeslider{
    height: 600px;
    background: #ECDFD7; 
    border-Radius: 50px;
    @media screen and (max-width: 699px) {
        height: 150px;
    }
}
.homeslidecontainer{
    height: 500px;
    @media screen and (max-width: 699px) {
        height: 150px ;
    }
}
.articleTop{
    margin-top: 250px;
    @media screen and (max-width: 699px) {
        height: 250px ;
    }
}
.homegap{
    margin-top: 20px;
    @media screen and (max-width: 699px) {
        margin-top: 600px;
    }
}
.testimonialheader{
    font-size: 50px; 
    color: #292F36;
    font-family: Playfair Display;
}
.quoteclass{
    background: #ECDFD7;
     border-radius: 50px;
      width: 70%;
       padding: 30px;
       @media screen and (max-width: 699px) {
        width: 100%;
    }
}
.artlineStyle{

    position: absolute;  
    width: 600px; 
    left: 67%; 
    opacity: 0.6;
     height: 700px;
      margin-top: -200px;
       z-index: 500;
    @media screen and (max-width: 699px) {
        display: none;
    }

}
.artlinestyle1{
    position: absolute;
     overflow: hidden;
      bottom: -3000px; 
      opacity: 0.6;
      top: 900px;
      @media screen and (max-width: 699px) {
        display: none;
    }
}
.artlinestyle2{
    position: absolute;
     overflow: hidden; 
     right: 0px;
      bottom: -20px;
       top: 1200px;
        transform: scaleX(-1);
    @media screen and (max-width: 699px) {
        display: none;
    }
}
.artlinestyle3{
   
    position: absolute;
     width: 550px;
      opacity: 0.6;
       margin-top: -150px;
        zIndex: 500;

    @media screen and (max-width: 699px) {
        display: none;
    }
}
.artlinestyle4{
    position: absolute;
    opacity: 60%;
    width: 600px;
     margin-top: -400px;
      overflow: hidden;
       right: 0px;
        z-index: 500;
    @media screen and (max-width: 699px) {
        display: none;
    }
}
.artlinestyle5{
    width: 400px; 
    height: 700px;
     opacity: 0.6;
      position: absolute;
       left: 0px; 
       overflow: hidden;
        z-index: 500;
    @media screen and (max-width: 699px) {
        display: none;
    }
}
.pricingstyle{
    font-family: Playfair Display;
     font-Size: 25px; 
     text-align: center;
     @media screen and (max-width: 699px) {
        font-size: 15px;
    }
}
.pricingstyle + h1{
    font-family: Playfair Display;
     font-size: 85px; 
     font-weight: 500; 
     text-align: center; 
     @media screen and (max-width: 699px) {
        font-size: 40px;
    }
}