.firstheaders {
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    text-align: 'center';
}
.navigations {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

}
.firsttext{
    font-family: Jost;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: center;
}

.navheader
{
 font-family: jost;
 color: #F6F5EC;
 font-size: 20px;
 text-align: center;
 font-weight: 400;
}
.articleHeader{
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.02em;
    text-align: left;

}
.latestArticleheader{
    font-family: DM Serif Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;

}
.blogHeader{
    font-family: DM Serif Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: left;

}
.blogsecond{
    font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.01em;
text-align: left;

}
.italicHeader{
    font-family: DM Serif Display;
font-size: 200px;
font-style: italic;
font-weight: 400;
line-height: 250px;
letter-spacing: 0.02em;
text-align: center;

}
.italictext{
    font-family: DM Serif Display;
font-size: 25px;
font-style: italic;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.02em;
text-align: center;

}

.buttonHeader{
    font-family: Jost;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;

}

.hoverarticle{
    

}

.hoverarticle:hover{
    background: #ECDFD7;
    border-radius: 30px;

}

.articlehead{
    font-family: DM Serif Display;
font-size: 25px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: center;

}

.articletext{
    font-family: Jost;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.customButton{
    font-family: Jost;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;

}
.diseasescol{
    font-family: DM Serif Display;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: right;

}
.diseasecol1{
    font-family: Jost;
font-size: 22px;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.01em;
text-align: center;

}
.treatmentslider{ 
    font-family: Jost;
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0.01em;
text-align: left;
}
.accordionheader{
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;   
}
.accordionsubheader{
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #CDA274;
}
.cursorhover{
    background: #ECDFD7;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 5px;
    margin-top: -5px;
}
.cursorfree{
    background: #F6F5EC;
    margin-left: 10px;
    float: right; 
    font-size: 22px;
    border-radius: 50%;
    padding: 5px;
    margin-top: -5px;
}

